* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(10, 92, 44);
}







/* Background */
div img {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 100vh;
}

@media (min-aspect-ratio: 24/17) {
  div img {
      width: 100vw;
      height: auto;
  }
}

#spaceDiv {
  width: 100px;
}

#home {
  margin-top: 0px;
}

#about {
  margin-top: 775px;
}

#portfolio {
  margin-top: 660px;
}

#connect {
  margin-top: 1100px;
}

.layerOne {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

.layerTwo {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.1);
}

.layerThree {
  position: fixed;
  transform: scale(1.3);
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
}

.layerFour {
  position: fixed;
  transform: scale(1.5);
  bottom: 0;
  top: -20px;
  right: -20px;
  left: 0;
  z-index: -3;
}

canvas {position:fixed;
  top: 0;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 2;
}








/* Navbar */
#navDiv {
  
}
nav {
  position: fixed;
  
  z-index: 8;
 
}



nav ul li p {
  font-size: 35px;
  color:beige;
}

nav ul li {
  margin: 20px;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

@keyframes animated {
  0%
  {
      filter: brightness(0%);
  }
  100%
  {
      filter: brightness(100%);
  }
}

#homeAgain:hover {
  filter: brightness(300%);
  transition: 0.3s;
}

#homeAgain:hover:after {
  width: 100%;
}

#homeButton {
  position: absolute;
  margin-left: 30px;
  padding: 0;
}

#aboutButton {
  position: absolute;
  margin-left: 30px;

}

#portfolioButton {
  position: absolute;
  margin-left: 30px;
}

#connectButton {
  position: absolute;
  margin-left: 30px;
}




/* Cursor */
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(46, 136, 87);
  border-radius: 50%;
  position: fixed;
  transition-duration: 0ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 11000;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid rgb(75, 148, 66);
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid rgb(135, 211, 169);
}

p {
  color: rgb(26, 77, 21);
  font-family: "arial";
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
}

p a {
  color: teal;
}









/* Preloader */
#biggestDiv {
  position: fixed;
  z-index: 10000;
  width: 1000px;
  display: block;
}

#welcomePage {
  opacity: 1;
  filter: brightness(100%);
  animation: animated 1s;
  display: block;
}

#loaderPage {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #307a4f;
  animation: animateBg 10s linear infinite;
  position: fixed;
  z-index: 5;
  width: 100vw;
}

@keyframes animateBg {
  0%
  {
      filter: hue-rotate(0deg);
  }
  50%
  {
      filter: hue-rotate(30deg);
  }
  100%
  {
      filter: hue-rotate(0deg);
  }
}

#loaderPage .loaderDots {
  position: relative;
  width: 120px;
  height: 120px;
}

#loaderPage .loaderDots span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

#loaderPage .loaderDots span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #4bd350,
              0 0 20px #4bd350,
              0 0 40px #4bd350,
              0 0 60px #4bd350,
              0 0 80px #4bd350,
              0 0 100px #4bd350;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i))
}

@keyframes animate
{
  0%
  {
      transform: scale(2);
  }
  80%, 100%
  {
      transform: scale(0);
  }
}

#loaderPercent {
  position: absolute;
  font-family:'Times New Roman', Times, serif;
  margin: auto;
  margin-right: -10px;
  font-size: 2vw;
}